<style>
.blank{color:FFFFFF;}


td.withborder {
        border-style: solid;
        border-width: 1;        /* sets border width on all sides */
        border-color: black;
}

A:LINK{
font-family:Arial,Verdana;
font-size:8pt;
color:blue;
text-decoration:none;
}
A:ACTIVE{
font-family:Arial,Verdana;
font-size:8pt;
color:blue;
text-decoration:none;
}
A:VISITED{
font-family:Arial,Verdana;
font-size:8pt;
color:green;
text-decoration:none;
}

.mainTitle{
font-family:Arial,Verdana;
font-size:22pt;
font-weight:bold;
color:000000;
text-decoration:none;
}
.mainSubTitle{
font-family:Arial,Verdana;
font-size:8pt;
color:000000;
text-decoration:none;
}
.columnTitle{
font-family:Arial,Verdana;
font-size:8pt;
font-weight:bold;
color:000000;
text-decoration:none;
}
.bodyContent{
font-family:Arial,Verdana;
font-size:8pt;
color:000000;
text-decoration:none;
}
.secondarySubTitle{
font-family:Arial,Verdana;
font-size:8pt;
font-weight:bold;
color:000000;
text-decoration:underline;
}
.legend{
font-family:Arial,Verdana;
font-size:6pt;
font-weight:bold;
color:000000;
text-decoration:none;
}

</style>
